@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* --- HEADER --- */

.header {
    background-color: #1F2937;
    padding: 1vh 20vh;
}

.header-text-container {
    align-items: center;
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 20px 0 70px;
}

.header-text {
    flex-basis: 500px;
}

.header-text > h2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 10px 0;
}

.header-text > p {
    font-size: 18px;
    color: #dedfe0;
}

.header-text > button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
}

/* --- NAVBAR --- */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* --- IMAGE GALLERY --- */

.body-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 20vh 10vh;
}

.body-images > h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 0 0 50px;
}

.container-imgs {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.imgs-info {
    text-align: center;
    flex-basis: 150px;
    color: #646571;
}

.imgs-info > img {
    width: 200px;
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

/* --- QUOTE --- */

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 7em 400px;
}

.quote > p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote > h3 {
    align-self: flex-end;
    margin: 0;
    color: #1F2937;
}

/* --- CALL TO ACTION BANNER --- */

.call-box-container {
    padding: 10vh 20vh;
    display: flex;
    justify-content: center;
}

.call-box {
    display: flex;
    background-color: #3882F6;
    padding: 50px 120px;
    border-radius: 10px;
    justify-content: space-between;
    width: 800px;
}

.call-box-text {
    display: flex;
    flex-direction: column;
}

.call-box-text > h3 {
    color: #F9FAF8;
    margin: 0;
}

.call-box-text > p {
    color: #dedfe0;
    margin: 0;
}

.call-box > button {
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    flex-shrink: 0;
}

/* --- FOOTER --- */

footer {
    background-color: #1F2937;
    text-align: center;
    color: #fff;
    padding: 25px;
}